* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, sans-serif;
}

body {
    background: rgb(46, 46, 44);
    color: rgb(248, 220, 61);
    border-top: 1em solid rgb(248, 220, 61);
}

::selection {
    color: white;
    background: rgb(248, 220, 61);
}

#loading {
    margin: 1em auto;
    width: 150px;
    height: 150px;
    background: transparent url("../images/gears-orange.svg");
    background-size: 100% 100%;
}

[role="banner"] h1,
[role="main"] h2 {
    font-weight: 700;
    text-transform: uppercase;
}

[role="banner"] {
    margin: 0 auto;
    max-width: 1500px;
    text-align: center;
}

[role="banner"] h1 {
    font-size: 2.8em;
    letter-spacing: -0.03em;
    line-height: 0.9;
    text-transform: uppercase;
    color: white;
    text-transform: uppercase;
    background: -webkit-linear-gradient(white, rgb(248, 220, 61));
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: font-size 0.5s;
}

@media (min-width: 320px) {
    [role="banner"] h1 {
        font-size: 3.6em;
    }
}

@media (min-width: 420px) {
    [role="banner"] h1 {
        font-size: 4.8em;
    }
}

@media (min-width: 580px) {
    [role="banner"] h1 {
        font-size: 5.6em;
    }
}

@media (min-width: 650px) {
    [role="banner"] h1 {
        font-size: 6.2em;
    }
}


@media (min-width: 850px) {
    [role="banner"] h1 {
        font-size: 7.5em;
    }
}

[role="main"] {
    margin: 0 auto;
    max-width: 850px;
    width: 90%;
    line-height: 1.5;
    color: #d3d3d3;
    padding-top: 2em;
}

@media screen and (max-width: 768px) {
    [role="main"] {
        width: 95%;
    }
}

[role="main"] #content-index {
    border-bottom: 1px solid rgb(248, 220, 61);
}

[role="main"] #content-index a {
    font-weight: 700;
    color: rgb(248, 220, 61);
    text-decoration: none;
    text-transform: uppercase;
}

[role="main"] #content-index a:hover,
[role="main"] #content-index a:focus {
    color: white;
}

[role="main"] #content-index {
    padding: 0 0.5em;
    counter-reset: li;
}

[role="main"] #content-index li {
    position: relative;
	list-style: none;
	padding-top: 0;
	padding-left: 2.5em;
	padding-bottom: 0.5em;
	padding-right: 1em;
	font-size: 1em;
	line-height: 1.5;
}

[role="main"] #content-index li:before {
    position: absolute;
	border-radius: 50%;
	counter-increment: li;
	content: counter(li);
	width: 1.5em;
	height: 1.5em;
	left: 0;
	background: rgb(248, 220, 61);
	color: white;
	font-weight: 700;
	line-height: 1.5;
	text-align: center;
}

[role="main"] #content h2 {
    color: rgb(248, 220, 61);
    margin-top: 2.5em;
}

[role="main"] #content h2:first-child {
    margin-top: 1.5em;
}

[role="main"] #content #results {
    color: white;
    background: blue;
}
